.container{
	border:1px solid black;
	height:400px;
	width:1200px;
	padding:10px;
}
.b1,.b2{
	border:2px solid green;
	height:350px;
	width:600px;
	box-sizing:border-box;
	border-radius:50%;
	overflow:auto;
	margin-top:20px;
	text-align:justify;
}
.b1{
	float:left;
}
.b2{
    float:right;
}
img{
	height:200px;
	width:200px;
	float:left;
	padding:5px;
	border-radius:50%;
	margin-top:60px;
	margin-left:10px;

}
p{
	font-size:18px;
	margin-right:60px;
	margin-left:80px;
}
