.n1,.n2,.n3{
	height:200px;
	width:400px;
	margin:10px;
	border-radius:20%;

}
.n1{
	border:2px solid brown;
	background-color:#fe4a4f;
	border-left-width:10px;
}
.n2{
	border:2px solid yellow;
	background-color:#fdfd96;
	border-left-width:10px;
}
.n3{
	border:2px solid green;
	background-color:lightgreen;
	border-left-width:10px;
}
.im{
	height:200px;
	width:400px;
	margin:10px;
	border:2px solid black;
	background-image:url(bird.jpg);
	overflow:auto;
	background-size:cover;
	background-attachment: scroll;
}
.p1{
	color:white;
}


